<html x-ng-app="">
<head>
	<title>TIC TAC TOE</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>

</head>
<body  x-ng-controller="gameController">

<!-- WINNING BACKGROUND -->
<div id="winningback">
		<p class="winclass">YOU WIN</p>
		<a href="http://www.animateit.net"> <img  src="http://www.animateit.net/data/media/199/ufo008.gif" border="0" alt="UFO Spaceship from AnimateIt.net" /> </a>
</div> 
<!-- END OF WINNING BACKGROUNG HTML -->
	<h1 id="gameTitle">TIC TAC TOE</h1>

	<div  id="board">
		<div class="rows" x-ng-repeat="r in rows track by $index">
			<div class="cell" x-ng-click="check($parent.$index,$index)"  x-ng-repeat= "c in r track by $index" x-ng-class="{cellclick: c =='X',cellclick2: c=='O'}">{{c}}
			</div>
		</div>
	</div>


</body>
</html>